target
.env
.vscode
bin
config.json
node_modules
./package-lock.json
hfuzz_target
hfuzz_workspace
**/*.so
**/.DS_Store
test-ledger
docker-target
.idea
.coderrect

./hw_06_anchor_simple/.anchor/
./hw_06_anchor_simple/node_modules/
./hw_06_anchor_simple/target/
./hw_06_anchor_simple/test-ledger/

./hw_08_phantom_example/node_modules/


